.DataGrid{
    border:1px solid #bbb;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.no-padding .DataGrid{
	border: none;	
}



.DataGrid table{
  	border-collapse: separate;
    table-layout: fixed;
    overflow: hidden;
    position: relative;
    border-spacing: 0px 0px;
    width: 100%;
	    
}   

.DataGrid table thead tr.cg_header {
    background: -moz-linear-gradient(top center , #FFFFFF, #DDDDDD) repeat scroll 0 0 #E3E3E3;
    background: -webkit-linear-gradient( top , #FFFFFF , #DDDDDD) repeat scroll 0 0 #E3E3E3;
    border-bottom: 1px solid #AAAAAA;
}


 .DataGrid table thead  tr.cg_header th , .DataGrid table tbody  tr td{
    padding: 0px 5px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #fff;
    vertical-align: middle;
    
 }
 
 
.DataGrid table thead  tr.cg_header th:last-child,
.DataGrid table tbody  tr td:last-child{
    border-left: none;
} 

.DataGrid table thead  tr.cg_header th:first-child,
.DataGrid table tbody  tr td:first-child{
    border-right: none;
} 

.DataGrid table thead  tr.cg_header th {
    height: 25px;
       padding: 0px 5px;
   border-bottom:1px solid #CCCCCC;
   
}

.DataGrid table thead  tr.cg_header th a{
	color: red;
	display: block;
	padding: 2px 5px;
	line-height: 25px;
	
}


.DataGrid table thead  tr.cg_header th  a{
	background: url('/CakeGrid/img/sort.png') no-repeat center right;
}
.DataGrid table thead  tr.cg_header th  a.asc{
	background: url('/CakeGrid/img/sort-asc.png') no-repeat center right;
}
.DataGrid table thead  tr.cg_header th  a.desc{
	background: url('/CakeGrid/img/sort-desc.png') no-repeat center right;
}
 .DataGrid table tbody  tr.cg_row td{
         padding: 8px 5px;
         border-bottom: 1px dotted #ccc;
 }

 .DataGrid table tbody  tr.cg_row:last-child td{
 //	border-bottom: none;
 }

 .DataGrid table thead  tr.tableHeader th {
     padding: 10px 5px;
 
 } 
 
 .DataGrid table thead  tr.tableHeader th div.Col{
 	height: 22px;
 	line-height: 22px;
	padding-right: 30px;
	min-width: 100px;
 }
 
 .DataGrid table thead  tr.tableHeader th div.RowNumber{
 	 	height: 22px;
 	line-height: 22px;
 }
 
.DataGrid table thead  tr.tableHeader th span.Scroller{
	cursor: e-resize;
	width: 2px;
	height: 22px;
	float: right;

  }
 
 .DataGrid table thead  tr.tableHeader th span.RTL{
 	float: left;
 } 
  
.DataGrid table thead  tr.tableHeader th  div.Sorter{
	cursor: pointer;
	float: left;
	height: 16px;
	width: 16px;
	margin: 2px 5px ;
    border:1px solid transparent;
  } 
.DataGrid table thead  tr.tableHeader th  div.Sorter:hover{
    border:1px solid #fff;
    outline: 1px solid #ddd;
}  
 .DataGrid table thead  tr.tableHeader th div.RTL{
	float: right;
	margin: 2px 5px 0px 0px;
 } 
   
.DataGrid table colgroup{
    width: 100%;
}


 .DataGrid table tbody  tr.odd {
				background: #fafafa;
				border-bottom: 1px solid #f7f7f7;
 
    }  
 .DataGrid table tbody  tr:hover{
         background: #FCFBF4;
         color: #000;
 } 


.DataGrid > .Footer{
	background: -webkit-linear-gradient( top, #EDEDED 0%, #DEDEDE 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #EDEDED 0%, #DEDEDE 100%) repeat scroll 0 0 transparent;
	border-top: 1px solid #bbbbbb;
    font-weight:bold;
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;

 }

 .DataGrid > .Footer > div {
 	display: table-cell;
    line-height: 30px;
    padding: 0px 10px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #fff; 
 }

 .DataGrid > .Footer > div:first-child{
 	border-right: none;
 }

 .DataGrid > .Footer > div:last-child{
 	border-left: none;
 }
 
.DataGrid  > .Footer  .numbers{
    display: block;
    
} 


.DataGrid div.Footer .numbers  span{
    padding: 5px 7px;
    display: inline-block;
     //background: -moz-linear-gradient(center top , #EFEFEF, #CACACA) repeat scroll 0 0 transparent;
     background: url('/Core/img/patterns/bg.png');
     border : 1px solid #BBBBBB;
    -webkit-box-shadow:  0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;   
       
    margin: 2px 3px;
    border: 1px solid #666;

}
 
.DataGrid div.Footer .numbers  span >a {
    color: #fff;
}

.DataGrid div.Footer .numbers  span.current{
    color: #222;
      text-shadow: 0px 1px 2px #fff;
     background: -moz-linear-gradient(center top , #FFD68F, #FFA200) repeat scroll 0 0 transparent;
     
    
}

 


.DataGrid .cg_row .button{
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    font-size: 10px;
    font-weight: normal;
    
}